*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-white-soft: #f4f4f4;
    --color-dark: #000;
    --color-dark-soft: #232020;
    --color-main: #ff7315;
    --color-main-bright: #ff9047;
}

html {
    font-size: 62.5%; 
}

body {
    font-family: 'Kulim Park', sans-serif;
    overflow: hidden;
}

/*************UTILITY CLASSES ***************/
/* Text */
.u-center-text {
    text-align: center;
}

.u-capitalize-text {
    text-transform: capitalize;
}

.text-main {
    font-family: 'Caveat', cursive;
    color: var(--color-main);
}

.title {
    font-size: 2.5rem;
    font-weight: 300;
}

/* Margins */
.m-top {
    margin-top: 1rem;
}

/* Display */
.p-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-rel {
    position: relative;
}
/*************UTILITY CLASSES END***************/

/**************ANIMATIONS***************/
@keyframes pulsate-bck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
/**************ANIMATIONS END***************/

/***********NAVIGATION **************/
.nav {
    height: 10vh;
    width: 100vw;
    font-size: 3rem;
    justify-content: space-evenly;
    /* background-color: var(--color-dark-soft); */
    background-color: transparent;
}

.nav__logo {
    height: 100%;
}

.nav__logo-brand {
    height: 5rem;
    width: 5rem;
    margin: 1.4rem 0 0 1rem;
}

.nav__routes {
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav__routes a {
    font-family: 'Caveat', cursive;
    text-decoration: none;
    color: var(--color-dark-soft);
}

i {
    margin-left: .8rem;
}
/***********NAVIGATION END**************/

/**********BUTTON**********/
.btn__bag {
    height: 100%;
    width: 25%;
    color: var(--color-dark-soft);
    font-size: 3rem;
    padding: .5rem 1.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform .5s ease-in;
}

.btn__bag:hover {
    transform: rotateX(180deg);
}

.btn__bag:focus {
    outline: none;
}

.main {
    color: var(--color-main);
    background-color: var(--color-dark);
    padding: .5rem 1rem;
    border: none;
    border-radius: 3px;
    outline: none;
}

.alt {
    color: var(--color-white);
    background-color: var(--color-main);
    padding: .5rem 1rem;
    border: none;
    border-radius: 3px;
    outline: none;
}
/**********BUTTON END**********/

/*********COCKPIT COMPONENT *********/
.cockpit {
    height: calc(80vh - 10vh);
    margin: 5vh;
    background: center / 80% fixed no-repeat url('https://source.unsplash.com/1280x768/daily?fashion-shirt');
}

.cockpit__content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.cockpit__button {
    font-size: 2rem;
    margin-top: 2rem;
    animation: pulsate-bck 1s ease-in-out infinite both;
    cursor: pointer;
}
/*********COCKPIT COMPONENT END*********/

/*********DISCOUNT COMPONENT ************/

/*********DISCOUNT COMPONENT END************/